@{
    ViewData["Title"] = "Om projektet";
}
<h3>@ViewData["Title"]</h3>

<div>
    <p>Detta projekt drivs av Kasper Viggosson, Charles Åkerstedt, Tindra Jutterström, Filip Nydén och Julia Larje.</p>
</div>
