@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-3 fw-bold">Q-verify 2025</h1>
        <p class="lead text-muted">Automatiserad datavalidering för korrekta och pålitliga analyser.</p>
    </div>
</div>

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-md-4">
            <i class="bi bi-bar-chart-line fs-1 text-primary"></i>
            <h3 class="mt-3">Avvikelser</h3>
            <p>Identifiera och hantera avvikande värden i din data med hjälp av avancerade algoritmer. Våra verktyg gör det möjligt att snabbt hitta mönster som kan indikera potentiella problem eller felaktiga värden, vilket ger dig möjlighet att agera snabbt och effektivt.</p>
        </div>
        <div class="col-md-4">
            <i class="bi bi-check-circle fs-1 text-success"></i>
            <h3 class="mt-3">Kvalitetssäkring</h3>
            <p>Automatiserad validering av data för att säkerställa hög kvalitet och konsekvens. Genom att använda rigorösa valideringsprocesser kan du vara säker på att din data uppfyller alla krav och standarder, vilket förbättrar tillförlitligheten i dina analyser och rapporter.</p>
        </div>
        <div class="col-md-4">
            <i class="bi bi-cloud-upload fs-1 text-info"></i>
            <h3 class="mt-3">Batchanalys</h3>
            <p>Ladda upp och analysera stora dataset snabbt och smidigt. Vårt system hanterar batchbearbetning för att effektivisera processen, vilket gör det möjligt att analysera stora mängder data på kortare tid, utan att kompromissa med noggrannhet eller prestanda.</p>
        </div>
    </div>
</div>
