html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
      font-size: 16px;
  }
}

body {
    
    font-family: 'Poppins', sans-serif;
}

.nav-item.dropdown .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.85); 
  border: 1px solid #e0e0e0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  left: auto !important;
  right: 0 !important;
  transform: translateX(0) !important;
  top: 100% !important;
  
}

.nav-item.dropdown .dropdown-item {
  color: #292122;
  border-radius: 0.375rem;
  transition: background-color 0.2s ease-in-out;
  text-align: right;
  }


.nav-item.dropdown .dropdown-item {
  transition: all 0.2s ease-in-out;
}

.nav-item.dropdown .dropdown-item:hover {
  background-color: transparent;
  transform: scale(1.03); 
  font-weight: 500;
  color: #000;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px; 
  text-decoration-color: #ce003b;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1050;
  margin-top: 0;
  border-radius: 0.25rem;
}

.btn-custom {
  font-size: 1.5rem;
  padding: 8px 12px;
}

.btn {
    transform: scale(0.75);
    color: #ce003b;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #ce003b;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    margin-left: -17px;  
  }

  .btn-custom {
    transform: none; 
    color: inherit; 
    text-transform: none; 
    text-decoration: none;
    border: none; 
    padding: 10px 20px;
    font-size: 1rem; 
    font-weight: normal; 
    background: transparent; 
    margin-left: 0; 
    cursor: pointer; 
    transition: all 0.3s ease;
}

.btn-sm {
  font-size: 1.0rem; 
  padding: 10px 20px;
  
}

.bi-x, .bi-check {
  color:#000;
  font-size: 1.3rem; 
  padding: 10px 20px;
  display: inline-block;  
}

.btn-custom.btn-danger {
    color: #ce003b; 
    border: 2px solid #ce003b;
}

.btn-custom.btn-primary {
    background-color: #000000; 
    border-color: #000000;
}

.btn-custom.btn-success {
    background-color: #28a745; 
    border-color: #28a745;
}

.btn-custom.btn-secondary {
    background-color: #6c757d; 
    border-color: #6c757d;
}
  
  .btn:hover {
    color: white;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    background-color:#ce003b;
    z-index: -1;
    
  }
  
  .btn:hover::before {
    width: 160%;
  }

.header {
  background-image: url('/images/qualeheader.png');
  background-size: cover;
  height: 180px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.12);
  z-index: 1000;
}

.logo-img {
  
  max-width: 300px; /* Maxbredd för att hindra att logotypen blir större än 300px */
  width: auto;
  height: 75px; /* Behåll bildens proportioner */
  margin-left: 4em;
  
}

h1.text-center.mb-4 {
  font-family: 'SignPainter', cursive;
}

.container {

  margin-bottom: 70px;

}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%; 
  margin-bottom: 125px;
  flex-direction: row;
}

.navbar-nav {
  
  display: flex-end;
  margin-left: 260px;
  margin-right: 100px;
  margin-bottom: 30px;
  padding: 0;
  flex-direction: row;
}

.nav-item {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.nav-item:hover {
  color: #258cfb;
  text-decoration: solid;
}

/* Hamburger menu */
.navbar-toggler {
  border: none;
  background-color: transparent;
  color: white;
}

.navbar-toggler-icon {
  background-color: white;
}

.nav-link {
  color: #333; 
  transition: transform 0.3s ease, color 0.3s ease; 
}

.nav-link:hover {
  
  transform: scale(1.1);
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* Justera tjockleken efter behov */
  text-underline-offset: 3px; /* Justera avståndet från texten */
  text-decoration-color: #ce003b;
}

.blog-image {
  max-width: 75%;  /* Gör så att bilden inte blir bredare än sin container */
  height: auto;     /* Bevarar bildens proportioner */
  object-fit: cover; /* Ser till att bilden skalar snyggt */

}

.team-member {
  color: #ce003b; 
  text-decoration: none; /
}

.team-member:hover {
  color: #000000; 
  text-decoration: underline; 
}


.footer .container {
  text-align: center;
  margin-top: 40px; /* Justera detta värde efter behov */
}

#toast-container {

  position: fixed;
  top: 210px;
  right: 11.5rem !important;
  z-index: 9999 !important;
  
}
.table-search .form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}

.table-search .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem rgba(220, 53, 69, 0.25);
  border-color: #dc3545;
}

/* Responsive design - Hamburger menu */
@media (max-width: 767px) {
  .navbar {
      display: block;
      text-align: center;
      width: 100%;
  }

  .navbar-nav {
      display: none;
      width: 100%;
      flex-direction: column;
      text-align: right;
      padding-left: 0;
      margin-left: 300px;
  }

  .navbar-nav.show {
      display: flex;
  }

  .nav-item {
      margin-left: 300px;
      padding: 10px 0;
  }

  .nav-item a {
      color: #fff;
  }

  .nav-item:hover {
      background-color: #258cfb;
      color: white;
  }

  .navbar-toggler {
      display: block;
  }

  
  
}
